
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>

    <body class="container">

        <h1 th:text="${title}">Default Title</h1>

        <!--<p th:unless="${menu.cheeses} and ${menu.cheeses.size()}">No Menus</p>-->

        <nav th:replace="fragments :: navigation"></nav>

        <table class="table">

            <tr th:each="cheese : ${menu.cheeses}">
                <td th:text="${cheese.name}"></td>
            </tr>
        </table>

        <p><a th:href="'/menu/add-item/' + ${menu.id}">Add Cheese</a></p>

    </body>
</html>